<!doctype html>
<html ng-app="example">
<head>
    <meta charset="utf-8">
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/ag-grid/dist/angular-grid.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ag-grid/dist/theme-fresh.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script src="js/lodash/lodash.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ag-grid/dist/angular-grid.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/filters.js"></script>
</head>

<style>
    .ag-fresh .ag-body {background-color: #ffffff !important;}
    .bold-and-red {
        color: darkred;
        font-weight: bold;
    }
    .menuicon{ cursor: pointer; }
    .list-group-item{
        padding: 2px 10px !important;
        color: white;
        background-color: #006837;
        font-weight: normal;
    }
    .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
        background-color: #000000;
        border-color: #ffffff;
    }
</style>

<body ng-controller="exampleCtrl">
    <div class="row">
        <div class="col-xs-1" ng-if="!showSidebar" id="colIcon">
            <ul class="list-group" style="width: 60px; text-align:center !important;">
                <li class="list-group-item butt" ng-click="toggleSidebar()">
                    <span class="menuicon glyphicon glyphicon-option-horizontal" tooltip="Full Menu" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item active">
                    <span class="menuicon glyphicon glyphicon-credit-card" tooltip="Summary" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-book" tooltip="Underwriting" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-lamp" tooltip="Terms" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-user" tooltip="Committee" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-cloud" tooltip="Comments" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-star" tooltip="Applicant" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-question-sign" tooltip="Questions" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-globe" tooltip="References" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-yen" tooltip="Financial" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-grain" tooltip="Crop" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-apple" tooltip="Farm" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-scale" tooltip="Insurance" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-piggy-bank" tooltip="Budget" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-tasks" tooltip="Optimizer" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-gbp" tooltip="Collateral" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-paperclip" tooltip="Prerequisite" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-tower" tooltip="Closing" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-ice-lolly-tasted" tooltip="Disbursement" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-sunglasses" tooltip="Audit" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
            </ul>
        </div>
        <div ng-class="showSidebar ? 'col-xs-2' : 'hidden'" id="colPush" >
            <ul class="list-group" style="padding:0;width:160px !important;">
                <li class="list-group-item butt" ng-click="toggleSidebar()">
                    <span class="menuicon glyphicon glyphicon-option-vertical" tooltip="Collapse" tooltip-append-to-body="true" tooltip-placement="right"></span>
                </li>
                <li class="list-group-item active">
                    <span class="menuicon glyphicon glyphicon-credit-card" tooltip="Summary" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Summary
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-book" tooltip="Underwriting" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Underwriting
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-lamp" tooltip="Terms" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Terms
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-user" tooltip="Committee" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Committee
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-cloud" tooltip="Comment" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Comment
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-star" tooltip="Applicant" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Applicant
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-question-sign" tooltip="Questions" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Questions
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-globe" tooltip="References" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;References
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-yen" tooltip="Financial" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Financial&nbsp;
        <span style="font-weight: normal; color: #000000;" >
          [B-704]
        </span>
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-grain" tooltip="Crop" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Crop
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-apple" tooltip="Farm" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Farm
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-scale" tooltip="Insurance" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Insurance
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-piggy-bank" tooltip="Budget" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Budget
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-tasks" tooltip="Optimizer" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Optimizer
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-gbp" tooltip="Collateral" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Collateral
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-paperclip" tooltip="Prerequisite" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Prerequisite
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-tower" tooltip="Closing" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Closing
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-ice-lolly-tasted" tooltip="Disbursement" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Disbursement
                </li>
                <li class="list-group-item">
                    <span class="menuicon glyphicon glyphicon-sunglasses" tooltip="Audit" tooltip-append-to-body="true" tooltip-placement="right"></span>
                    &nbsp;Audit
                </li>
            </ul>
        </div>
        <div ng-class="showSidebar ? 'col-xs-10' : 'col-xs-11'"  id="colMain" style="margin-left: -48px;" >
            <div style="height: 500px;" ag-grid="gridOptions" class="ag-fresh"></div>
        </div>
    </div>
</body>
</html>
