<div ng-style="{'cursor': col.cursor}"
     ng-class="{ 'ngSorted': !noSortVisible }"
     style="text-align:center !important;">

  <span ng-show="pending_view"
        ng-click="pending_view = 0; nextOrder(0)"
        class="headicon glyphicon glyphicon-exclamation-sign"
        style="color:#000000;"></span>

  <span ng-show="!pending_view"
        ng-click="pending_view = 1; nextOrder(1)"
        class="headicon glyphicon glyphicon-exclamation-sign"
        style="color:#CCCCCC;"></span>
</div>